<div class="socials">
  <a href="https://twitter.com/LorenzVth" target="_blank"><i class="fa fa-twitter-square"></i></a>&nbsp;
  <a href="https://github.com/lvthillo" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
  <a href="https://www.linkedin.com/in/lorenzvanthillo/" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
  <a href="https://stackoverflow.com/users/4525448/lvthillo?tab=profile" target="_blank"><i class="fa fa-stack-overflow"></i></a>&nbsp;
</div>
